body {
  background-color: #f0f8ff; /* Azul claro */
  color: #333;
}

.navbar {
  background-color: #0044cc; /* Azul oscuro */
}

.navbar-brand,
.nav-link {
  color: #fff !important;
}

.navbar-toggler-icon {
  background-color: #ffcc00; /* Amarillo */
}

.navbar-nav .nav-link:hover {
  color: #ffcc00 !important; /* Amarillo */
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #0044cc; /* Azul oscuro */
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-container span {
  margin: 0 10px;
}

.Logo img {
  width: 100%;
  height: auto;
  border: 5px solid #ffcc00; /* Amarillo */
}

h1 {
  color: #0044cc; /* Azul oscuro */
  margin-top: 20px;
  text-align: center;
}

.container-sm {
  background-color: #e6f2ff; /* Azul muy claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #0044cc; /* Azul oscuro */
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer h4 {
  margin-bottom: 10px;
}

.social-net a {
  color: #ffcc00; /* Amarillo */
  margin: 0 10px;
  font-size: 1.5rem;
}

.social-net a:hover {
  color: #e6f2ff; /* Azul muy claro */
}

.group-2 small {
  display: block;
  margin-top: 10px;
}
